.Carth2 {
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.Carth2 .itemSize {
  padding: 6px;
  background-color: black;
  color: white;
  margin-left: 10px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
  height: max-content;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}
.table .th {
  display: flex;
  margin: 10px;
  padding: 22px 10px 22px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid grey;
}

.itemName {
  flex-grow: 3;
}
.th-itemSize,
.itemMoney,
.postInfo {
  flex-grow: 1;
}
.emptyTD {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin: 10px;
}
span.material-symbols-outlined {
  font-size: 100px;
  padding-bottom: 20px;
}

.home {
  padding: 20px 0;
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  display: block;
  font-weight: 700;
  text-decoration: underline;
  line-height: 1.2;
}
